.sidebarRubrics{
  .item{
    a{
      box-sizing: border-box;
      border-left: 3px solid transparent;
      color: black;
      display: block;
      padding: 2px 0 2px 5px;
      text-decoration: none;
      &:hover{
        border-left: 3px solid #D2B356;
      }
    }
    &.active {
      a {
        border-left: 3px solid #D2B356;
      }
    }
  }
}

.rubricName{
  font-weight: bold;
  text-transform: uppercase;
}

.articles{
  margin-top: 30px;

  .article{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    border-left: 3px solid transparent;
    padding: 15px 15px 15px 5px;
    &:hover{
      border-left: 3px solid #D2B356;
    }
    time{
      font-size: 80%;
      margin-right: 20px;
    }
  }
}