body, html{
  height: 100%;
}

#app{
  height: 100%;
  font-family: Arial;
}

#mainSection{
  margin-bottom: 20px;
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .content {
    flex: 1;
  }
}


