#rubricsSidebar{
  .item{
    a{
      box-sizing: border-box;
      border-left: 3px solid transparent;
      color: black;
      display: block;
      padding: 2px 0 2px 5px;
      text-decoration: none;
      &:hover{
        border-left: 3px solid #D2B356;
      }
    }
  }

  .rubricsTitle{
    color: black;
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    &:hover{
      color: #ccc;
    }
  }
}

